Backend/Splitzy/Splitzy/obj/Debug/net8.0/apphost.exe
Backend/Splitzy/Splitzy/obj/Debug/net8.0/apphost.exe
Backend/Splitzy/Splitzy/obj/Debug/net8.0/apphost.exe
Backend/Splitzy/Splitzy/obj/Debug/net8.0/Splitzy.AssemblyInfo.cs
Backend/Splitzy/Splitzy/obj/Debug/net8.0/Splitzy.AssemblyInfoInputs.cache
Backend/Splitzy/Splitzy/obj/Debug/net8.0/Splitzy.assets.cache
Backend/Splitzy/Splitzy/obj/Debug/net8.0/Splitzy.csproj.AssemblyReference.cache
Backend/Splitzy/Splitzy/obj/Debug/net8.0/Splitzy.GeneratedMSBuildEditorConfig.editorconfig
Backend/Splitzy/.vs/ProjectEvaluation/splitzy.metadata.v9.bin
Backend/Splitzy/.vs/ProjectEvaluation/splitzy.metadata.v9.bin
*.bin
*.bin
*.vsidx
*.cache
*.db-shm
*.db-wal
