Backend/Splitzy/Splitzy/obj/Debug/net8.0/apphost.exe
Backend/Splitzy/Splitzy/obj/Debug/net8.0/apphost.exe
Backend/Splitzy/Splitzy/obj/Debug/net8.0/apphost.exe
Backend/Splitzy/Splitzy/obj/Debug/net8.0/Splitzy.AssemblyInfo.cs
Backend/Splitzy/Splitzy/obj/Debug/net8.0/Splitzy.AssemblyInfoInputs.cache
Backend/Splitzy/Splitzy/obj/Debug/net8.0/Splitzy.assets.cache
Backend/Splitzy/Splitzy/obj/Debug/net8.0/Splitzy.csproj.AssemblyReference.cache
Backend/Splitzy/Splitzy/obj/Debug/net8.0/Splitzy.GeneratedMSBuildEditorConfig.editorconfig
