.submenu{
    position: relative;
    display: flex;
}

.submenu #menu-perfil{
    display: none;
}
.submenu:hover #menu-perfil{
    flex-direction: row;
    display: block;
    position: absolute;
    right:-65px;
    background-color: #242424;
    top:100%;
    z-index: 1;
    padding: 20px;
    min-width: 180px;
}

.submenu .boton{
    background-color: red;
}